<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>CRUD Without Database</h1><br>
    <hr>
    <% for(post of posts){ %>
    <p>
        USERNAME: <%=post.username%>
    </p>
    
     <p>
        CONTENT:<%=post.content%>
    </p>
    <a href="http://localhost:3000/post/<%=post.Id%>">See IN Detail</a>
    <br>
    <a href="http://localhost:3000/post/edit/<%=post.Id%>">Edit</a>

    <form action="http://localhost:3000/post/delete/<%=post.Id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <br><hr>
    <%}%>

<br>
<h4><a href="http://localhost:3000/post/new">Create New Post</a></h4>
</body>

</html>